@{
    ViewBag.Title = "Contact Me";
}
<h3>@ViewBag.Title</h3>
<h4>@ViewBag.Message</h4>

<address>
    37 Kiltipper Avenue<br />
    Aylesbury<br />
    Tallaght<br />
    Dublin 24<br />
    Ireland<br />
</address>

<address>
    <strong>Mobile: </strong>+353 (0)87 773 3515<br />
</address>

<address>
    <strong>Email: </strong><a href="mailto:cliff.browne@hotmail.com">cliff.browne@hotmail.com</a><br />
    <strong>Email: </strong><a href="mailto:cbrowne77@gmail.com">cbrowne77@gmail.com</a><br />
    <strong>LinkedIn: </strong><a href="https://ie.linkedin.com/in/cliffbrowne">My LinkedIn Profile</a><br />
    <strong>Twitter: </strong><a href="https://twitter.com/Cliff77">@@Cliff77</a><br />
    <strong>Facebook: </strong><a href="http://www.facebook.com/cliffGR2014">My Facebook Profile</a><br />
</address>