@{
    ViewBag.Title = "Home Page";
}

<h2>Budget Calculator</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@Html.ActionLink("My Budgets", "Index", "Budgets")</h3>
        <p>Click <b>Budgets</b> to view saved Budgets</p>
        <p><a class="btn btn-default" @Html.ActionLink("Budgets", "Index", "Budgets")</a></p>
    </div>

    <div class="col-md-4">
        <h3>@Html.ActionLink("Budget Analysis", "Index", "Budgets")</h3>
        <p>Click <b>Analysis</b> to Analyse previous Budgets</p>
        <p><a class="btn btn-default" @Html.ActionLink("Analysis", "Index", "Budgets")</a></p>
    </div>
</div>